#calendar-item{ 
    height: 100%;
    width: 100%;
    padding: 0px 15px;
    min-height: 100px;
    border-right: 1px solid #80808047;
    border-bottom: 1px solid #80808047;
    cursor: pointer;
}

#calendar-item.hightlight{
    background-color: rgb(243, 243, 243);
    
    .calendar-item__header{
        color: rgb(106, 106, 240);
    }
}

.calendar-item__header{
    font-weight: 600;
}

.disabled {
    color: #afafaf  !important;
}

.first-on-row {
    border-left: 1px solid #80808047;
}

.first-row-item {
    border-top: 1px solid #80808047;
}


