<div class="container" style="margin-top: 4.8em;">
  <div class="container-fluid">
    <div class="row calendar-header">
      <div class="col" *ngFor="let day of daysOfWeek">
        {{day}}
      </div>
    </div>
    <div *ngFor="let week of calendarMonth; let i = index" class="row">
      <div *ngFor="let day of week; let j = index" class="col calendar-col">
        <app-calendar-item [date]="day" [isWeekend]="isWeekend(day)" [isFirstRowItem]="i === 0" [isFirstDayOfWeek]="j === 0" 
         [disabled]="!isPartOfMonth(day)">
        </app-calendar-item>
      </div>
    </div>
  </div>
</div>