#reminder-form{
    padding: 24px;
    width: 280px;
}

.header{
    text-align: center;
    font-size: 20px;
    padding-bottom: 15px;
    font-weight: 600;
    color: #8a8a8a;
}

.description{
    margin-bottom: 15px;
}

.expand{
    width: 100%;
}

.time-picker{
    margin-top: 13px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid #898989;
    outline: none;
}

input[type="time"]::-webkit-calendar-picker-indicator {
    pointer-events: none;
}

.footer {
    float: right;
}

.color-chip{
    padding: 20px;
    border-radius: 25px;
}

.mat-standard-chip:focus::after {
    opacity: 0;
}

.color-chip.selected {
   box-shadow: 0px 4px 4px -2px rgb(0 0 0 / 20%), 0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
}

.color-picker{
    margin-top: 13px;
    margin-bottom: 20px;
}